body{
    margin: 0;
    padding: 0;
}

.fa-user-circle,.fa-shopping-cart{
    margin-left: -25px;
}
.top-nav{
    background-color: black;
    font-size: 13px;
    padding: 5px;
}
.navbar-brand{
    font-size: 30px;
    margin-top: -10px;
}


