body{
    margin: 0;
    padding: 0;
}

.fa-user-circle,.fa-shopping-cart{
    margin-left: -25px;
}
.top-nav{
    background-color: black;
    font-size: 13px;
    padding: 5px;
}
.navbar-brand{
    font-size: 30px;
    margin-top: -10px;
}
.positon-fixed{
    
    position: fixed;
    width: 100%;
    z-index: 1;
}
#carousel{
    padding-top: 10vh;
}
.carousel-item{
    background: url('../images/bgg.jpg');
    background-repeat: no-repeat;
    background-position: center;
   background-size: cover;
    height: 60vh;
}
.card img{
    height: 250;
}
.rounded-circle img{
    height: 130;
    padding-top: 45px;
    padding-left: 35px;
    width: 130;
}
.rounded-circle{
    height: 160;
    width: 180;
}
.rounded-circle p{
    margin-top: 50px; 
}
#break{
    height: 55vh;
    background: url(../images/break\ image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 70px 0px;
}
#featured img{
height: 8em;
width: 9em;
}
#featured .card{
   height: 15em; 
}
#testimony .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px 0px;
}
.quote-width{
    width: 350px;
    height: 270px;
    margin-bottom: 32px;
  
}
footer{
    background: linear-gradient(rgba(0, 0, 0, 0.911)1%, rgba(1,1,1)90%);
}
footer h3{
    font-size: 16px;
}
footer p{
     color: rgba(255, 255, 255, 0.555);
}