body{
    margin: 0;
    padding: 0;
}

.fa-user-circle,.fa-shopping-cart{
    margin-left: -25px;
}
.top-nav{
    background-color: black;
    font-size: 13px;
    padding: 5px;
}
.navbar-brand{
    font-size: 30px;
    margin-top: -10px;
}
.positon-fixed{
    
    position: fixed;
    width: 100%;
    z-index: 1;
}
#carousel{
    padding-top: 10vh;
}
.carousel-item{
    background: url('../images/bgg.jpg');
    background-repeat: no-repeat;
    background-position: center;
   background-size: cover;
    height: 60vh;
}
.card img{
    height: 250;
}
.rounded-circle img{
    height: 130;
    padding-top: 45px;
    padding-left: 35px;
    width: 130;
}
.rounded-circle{
    height: 160;
    width: 180;
}
.rounded-circle p{
    margin-top: 50px; 
}
#break{
    height: 55vh;
    background: url(../images/break\ image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 70px 0px;
}
